<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-nav">
      <span class="navbar-brand">Reports Board!</span>
      <%= link_to "Home", root_path, class: "nav-link active" %>
      <%= link_to "About", about_path, class: "nav-link active" %>
      <%= link_to "New", new_post_path, class: "nav-link active" %>
    </div>
  </div>
</nav>