<h3>All reports</h3>
<% @post.each do |post| %>
  <h3><%= post.title %></h3>
  <p><%= post.description %></p>
  <%= link_to "Open", post_path(post), :class => "btn btn-outline-primary" %>
<% end %>